.nes-container, nes-field {
    margin: 20px;
}

.nes-field {
    margin-top: 20px;
}

#reset {
    display: none;
}

#warning {
    display:none;
}

#avatar {
    image-rendering: pixelated;
    height: 64px;
    vertical-align: top;
}
