.nes-container, nes-field {
    margin: 20px;
}

#reset {
    display: none;
}

#dialog-default {
    margin: 20px;
}

#avatar {
    image-rendering: pixelated;
    height: 64px;
    vertical-align: top;
}